<!DOCTYPE html>
<html>
    <head>
        <title>New Recipe</title>
    </head>
    <body>

      <form method="POST" action="/recipes">
        Name: <input type="text" name="name"><br />
        ingredients: <input type="text" name="ingredients"><br />
        cook_time: <input type="text" name="cook_time"><br />
        <input type="submit" value="submit">
      </form>

    </body>
</html>
